@font-face{
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    font-weight: normal;
    font-style: normal;
}
/*Custom Classes*/
.no-pad{
    padding: 0;
}

.bg-black{
    background-color: #252525;
    color: #fff;
}
.bg-white{
    background-color: #ffffff;
}
.bg-gray{
    background-color: #bdbec0;
}
.bg-gray2{
    background-color: #e7e8e9;
}
.btn-rad{
    border-radius: 15px;
}
.label-price{
    color: #000;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: bold;
    line-height: 100px;
}
.price{
    color: blue;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: bold;
    line-height: 100px;
}
.total-price{
    color: blue;
    font-family: Proxima Nova;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}
.f-7{
    font-size: 7px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-9{
    font-size: 9px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-12{
    font-size: 12px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-14{
    font-size: 14px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-17{
    font-size: 17px;
    font-weight: Semibold;
    font-family: Segoe UI;  
}
.f-18{
    font-size: 18px;
    font-weight: Semibold;
    font-family: Segoe UI;  
    color: #ffffff !important;
}
.f-21{
    font-size: 21px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #252525;
}
.f-24{
    font-size: 24px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-36{
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-45{
    font-size: 45px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #252525;
}
.lh-15{
    line-height: 15px;
}
.lh-75{
    line-height: 75px;
}
.lh-100{
    line-height: 100px;
}

a.f-18:hover,i.fa.fa-user:hover,a.dropdown-toggle.bg-black:hover,ul.dropdown-menu:hover{
    background-color: #252525 !important;
    color: #2b87ad !important;
}
a.dropdown-toggle.bg-black:active{
    background-color: #252525 !important;
}
ul.dropdown-menu.show{
    background-color: #252525;
    color: #fff;
}
/*End Custom Classes*/
/*Carousel*/
#thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
    height: 280px;
    border-radius: 25px;

}
/*#thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(../img/job11.jpg); 
}
#thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(../img/job13.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(../img/job14.jpg);
}*/
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
    top: 20%;
    bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
    position: relative;
    width: 20px;
    height: 8px;  
    top: 30px;
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    position: absolute;
    top: 0;
    width: 80px;
    display: none;
    opacity: 0;
    left: 50%;
    margin-top: -80px;
    margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
    display: block;
    opacity: .5;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
    opacity: 1;
}
@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
        width: 50px;
        height: 8px;
        position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
        width: 50px;
        left: 50%;
        margin-top: -50px;
        margin-left: -25px;
    }
}
.chevron-pos{
    line-height: 270px !important;
}

/*End Carousel*/
/*Ribbon Boxes*/
.product-box {
    position: relative;
    background: #fff;
    width: 200px;
    height: 200px;
    border-bottom: 50px solid #bdbec0;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
}
.product-box-sm{
    position: relative;
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 25px; 

}
.product-box-lg {
    position: relative;
    background: #fff;
    width: 300px;
    height: 300px;
    margin: 25px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}
.checkout-box{
    position: relative;
    background-color: #bdbec0;   
    min-width: 500px;
    height: 150px;
    padding: 25px;
}
.checkout-box-total{
    position: relative;
    background-color: #bdbec0;   
    min-width: 500px;
    height: 50px;
}
.ribbon-top {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon-top span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon-top span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon-top span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon-new {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon-new span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon-new span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon-new span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
/*End Ribbon Boxes*/
/* Bob Hover */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
/*End Bob hover*/
/*Add to Cart*/
.btn-landslide{
    border:0px solid #393B3E;-webkit-box-shadow: #737373 0px 1px 5px ;-moz-box-shadow: #737373 0px 1px 5px ; box-shadow: #737373 0px 1px 5px ; -webkit-border-radius: 25px; -moz-border-radius: 25px;border-radius: 20px;font-size:14px;font-family:arial, helvetica, sans-serif; padding: 10px 20px 10px 20px; text-decoration:none; display:inline-block;text-shadow: 0px 1px 0 rgba(10,10,10,0.5);font-weight:bold; color: #8C8C8C;
    background-color: #38B6FF; background-image: -webkit-gradient(linear, left top, left bottom, from(#38B6FF), to(#181540));
    background-image: -webkit-linear-gradient(left, #38B6FF, #181540);
    background-image: -moz-linear-gradient(left, #38B6FF, #181540);
    background-image: -ms-linear-gradient(left, #38B6FF, #181540);
    background-image: -o-linear-gradient(left, #38B6FF, #181540);
    background-image: linear-gradient(to right, #38B6FF, #181540);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#38B6FF, endColorstr=#181540);
    color: #fff;
}
.btn-landslide:hover{
    border:0px solid #393B3E;
    background-color: #05a3ff; background-image: -webkit-gradient(linear, left top, left bottom, from(#05a3ff), to(#0a081a));
    background-image: -webkit-linear-gradient(right, #05a3ff, #0a081a);
    background-image: -moz-linear-gradient(left, #05a3ff, #0a081a);
    background-image: -ms-linear-gradient(left, #05a3ff, #0a081a);
    background-image: -o-linear-gradient(left, #05a3ff, #0a081a);
    background-image: linear-gradient(to right, #05a3ff, #0a081a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#05a3ff, endColorstr=#0a081a);
    color: #000;
}
.btn-close{
    background-color: #bdbec0;
    position: relative;
    top: -135px;
    left: 105px;
}
.btn-close:hover{
    background-color: #bdbec0;
    color: red;
}
/*End Add to Cart*/
.product_thumbnail {
	width: 80%;
}

.product_thumbnail_lg {
	position: relative;
    width:128px;
    top: 50px;
    left: 80px;
}
.link-overlay {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    color:transparent;
    top:0;
    left:0;

}
.popover {min-width:400px;}