@font-face{
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    font-weight: normal;
    font-style: normal;
}
/*End icon-position*/
/*Custom Classes*/
.no-pad{
    padding: 0;
}
.bg-black{
    background-color: #252525;
    color: #fff;
}
.bg-white{
    background-color: #ffffff;
}
.bg-gray{
    background-color: #bdbec0;
}
.btn-rad{
    border-radius: 15px;
}
.f-7{
    font-size: 7px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-9{
    font-size: 9px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-12{
    font-size: 12px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-14{
    font-size: 14px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}
.f-18{
    font-size: 18px;
    font-weight: Semibold;
    font-family: Segoe UI;  
    color: #ffffff !important;
}
.f-21{
    font-size: 21px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #252525;
}
.f-24{
    font-size: 24px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #3a3a3c;
}

.f-36{
    font-size: 36px;
    font-weight: bold;
    font-family: Proxima Nova;
    color: #252525;
}
a.f-18:hover,i.fa.fa-user:hover,a.dropdown-toggle.bg-black:hover,ul.dropdown-menu:hover{
    background-color: #252525 !important;
    color: #2b87ad !important;
}
a.dropdown-toggle.bg-black:active{
    background-color: #252525 !important;
}
ul.dropdown-menu.show{
    background-color: #252525;
    color: #fff;
}
/*End Custom Classes*/
.product_thumbnail {

	width:64px;

}

.product_thumbnail_lg {

	width:128px;

}

/* Homepage Product Boxes */
.product-box {
    border-radius: 25px;
    border: 2px solid #bdbec0;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 200px;
}